/* PHASE 0: Sidebar */
.content-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-picture {
    
    position: relative;
    margin-top: -120px;
    border-radius: 6px;
    border: 1px solid black;
}

.profile-info > h1 {

    font-weight: bold;
    font-size: 27px;
    margin-top: 20px;

}

.profile-info > p {
    margin-block: 20px;

}


.profile-nav a {
    font-weight: bold;
    display: block;
    padding: 5px;
    border-top: 1px solid rgb(198, 198, 198);
    
}

.profile-nav:last-child {
    border-bottom:  1px solid rgb(198, 198, 198);
    margin-bottom: 20px;
}

.profile-nav > li:hover {
    background-color: rgb(235, 235, 235);


}