/* PHASE 0: Sidebar */


.profile-picture {
    position: relative;
    margin-top: -120px;
    border-radius: 10px;
    border: 1px solid black;
}

.profile-info {

}

.profile-nav {

    font-weight: bold;
    
    > li {
        border-top: 1px rgb(160, 160, 160);
        
    }
    
}

.profile-nav:hover {
    

}