/* PHASE 0: Sidebar */
.content-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-picture {
    
    position: relative;
    margin-top: -120px;
    border-radius: 10px;
    border: 1px solid black;
}

.profile-info {

}

.profile-nav a {
    /* padding: 10px; */
    font-weight: bold;
    display: block;
    /* border-top: 10px grey; */
    padding: 5px;
    border-top: 1px solid grey;
    
}

.profile-nav:last-child {
    border-bottom: 1px solid grey;
}

.profile-nav:hover {


}